## Лабораторна робота № 6

**Тема:** Робота із об’єктами `DataFrame`. Обробка багатовимірних даних.

**Мета роботи:** Навчитись створювати об’єкти **`DataFrame`** на основі асоціативних масивів та масивів **`NumPy`**, а також опанувати методи маніпуляції багатовимірними даними, а саме:
* Використовувати спільні риси та відмінності в атрибутах та методах класів `Series` та `DataFrame`.
* Індексувати, фільтрувати та сортувати об’єкти `DataFrame`.
* Застосовувати базові підходи та методи впорядкування даних: опрацювання дублікатів та пропущених значень.
* Працювати з категоріальними типами даних.

## Завдання 1. Робота з об'єктами DataFrame

**Вхідні дані:** Файл `nfl.csv` містить список гравців Національної ліги з наступними стовпцями: `Name`, `Team`, `Position`, `Birthday` та `Salary`.

**1) Імпортуйте файл `nfl.csv` в об'єкт `nfl` DataFrame**
- Забезпечте збереження інформації стовпця `Birthday` у типі дата/час.
- Реалізуйте створення користувацького індексу об'єкта DataFrame для збереження імен гравців.

In [6]:
import pandas as pd

nfl = pd.read_csv("csv_files/nfl.csv", parse_dates=["Birthday"], index_col="Name")
print(nfl)

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

**2) Здійсніть наступні маніпуляції з імпортованими даними:**
- Підрахуйте кількість гравців по командам в цьому наборі даних,
збережіть результат в об'єкті `team_capacity`.
- Виведіть перших та останніх три елемента об'єкта `team_capacity`.
- Виведіть інформацію з об'єкта `nfl` про найбільшоплачуваного старшого
гравця команди, яка має найбільшу чисельністю гравців.
- Виведіть інформацію з об'єкта `nfl` про найбільшоплачуваного молодшого
гравця команди, яка має найменшу чисельністю гравців.

Team
New York Jets          58
Washington Redskins    56
Kansas City Chiefs     56
Name: count, dtype: int64
Team
Tampa Bay Buccaneers    47
Pittsburgh Steelers     47
Tennessee Titans        46
Name: count, dtype: int64

--- Найбільш оплачуваний старший гравець (New York Jets) ---
Team              New York Jets
Position                     OT
Birthday    1989-06-08 00:00:00
Salary                  8000000
Name: Kelvin Beachum, dtype: object

--- Найбільш оплачуваний молодший гравець (Tennessee Titans) ---
Team           Tennessee Titans
Position                     QB
Birthday    1993-10-30 00:00:00
Salary                 20922000
Name: Marcus Mariota, dtype: object