## Лабораторна робота № 6

**Тема:** Робота із об’єктами `DataFrame`. Обробка багатовимірних даних.

**Мета роботи:** Навчитись створювати об’єкти **`DataFrame`** на основі асоціативних масивів та масивів **`NumPy`**, а також опанувати методи маніпуляції багатовимірними даними, а саме:
* Використовувати спільні риси та відмінності в атрибутах та методах класів `Series` та `DataFrame`.
* Індексувати, фільтрувати та сортувати об’єкти `DataFrame`.
* Застосовувати базові підходи та методи впорядкування даних: опрацювання дублікатів та пропущених значень.
* Працювати з категоріальними типами даних.

## Завдання 1. Робота з об'єктами DataFrame

**Вхідні дані:** Файл `nfl.csv` містить список гравців Національної ліги з наступними стовпцями: `Name`, `Team`, `Position`, `Birthday` та `Salary`.

**1) Імпортуйте файл `nfl.csv` в об'єкт `nfl` DataFrame**
- Забезпечте збереження інформації стовпця `Birthday` у типі дата/час.
- Реалізуйте створення користувацького індексу об'єкта DataFrame для збереження імен гравців.

In [91]:
import pandas as pd

nfl = pd.read_csv("csv_files/nfl.csv", parse_dates=["Birthday"], index_col="Name")
nfl

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

**2) Здійсніть наступні маніпуляції з імпортованими даними:**
- Підрахуйте кількість гравців по командам в цьому наборі даних,
збережіть результат в об'єкті `team_capacity`.
- Виведіть перших та останніх три елемента об'єкта `team_capacity`.
- Виведіть інформацію з об'єкта `nfl` про найбільшоплачуваного старшого
гравця команди, яка має найбільшу чисельністю гравців.
- Виведіть інформацію з об'єкта `nfl` про найбільшоплачуваного молодшого
гравця команди, яка має найменшу чисельністю гравців.

In [92]:
team_capacity = nfl['Team'].value_counts()

print(team_capacity.head(3))
print(team_capacity.tail(3))


max_team = team_capacity.idxmax()
largest_team_mask = nfl['Team'] == max_team
team_largest = nfl[largest_team_mask]
# Mb here is an error? Not hightest salary, but oldest player?
highest_paid_in_largest = team_largest.nlargest(1, 'Salary') 

print(highest_paid_in_largest)


min_team = team_capacity.idxmin()
smallest_team_mask = nfl['Team'] == min_team
team_smallest = nfl[smallest_team_mask]
# Mb here is an error? Not hightest salary, but youngest player?
highest_paid_in_smallest = team_smallest.nlargest(1, 'Salary') 

print(highest_paid_in_smallest)

Team
New York Jets          58
Washington Redskins    56
Kansas City Chiefs     56
Name: count, dtype: int64
Team
Tampa Bay Buccaneers    47
Pittsburgh Steelers     47
Tennessee Titans        46
Name: count, dtype: int64
                           Team Position   Birthday   Salary
Name
Trumaine Johnson  New York Jets       CB 1990-01-01  8000000
                            Team Position   Birthday    Salary
Name
Marcus Mariota  Tennessee Titans       QB 1993-10-30  20922000

**3) Здійсніть наступні маніпуляції з імпортованими даними:**
- Зробити стовпець Team об'єкта nfl новим індексом об'єкта DataFrame.
- Переіменувати стовпець “Birthday” у “Date of Birth”.
- Виведіть інформацію для діапазону даних від 10 до 20 рядка за
виключенням стовпців типу дата/час.

In [93]:
new_nfl_index = nfl.set_index('Team').rename(columns={"Birthday": "Date of Birth"})

print(new_nfl_index.iloc[10:21].drop(columns=["Date of Birth"]))

                     Position    Salary
Team
Atlanta Falcons            LS    930000
Cleveland Browns          OLB   1350000
Minnesota Vikings          WR    647500
Tampa Bay Buccaneers       SS    720000
Los Angeles Chargers        G   1071084
Washington Redskins       OLB  10500000
Philadelphia Eagles        WR    570000
Tennessee Titans           FS   2025000
Chicago Bears               P   1250000
Houston Texans            OLB   3400000
Arizona Cardinals         OLB    570000

## Завдання 2. Робота з об’єктами DataFrame

**Вхідні дані:** `Netflix.csv` містить колекцію приблизно із 6000 фільмів та серіалів. Він включає чотири стовпці: назву відео `(title)`, режисера `(director)`, дату появи фільму у списку `Netflix (Date_added)` та тип/категорію `(type)`.

**1) Добийтесь оптимального використання цим набором даних пам’яті та
зручності представлення даних:**

In [94]:
netflix = pd.read_csv("csv_files/Netflix.csv", parse_dates=["date_added"])
netflix['type'] = netflix['type'].astype('category')

netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 142.8+ KB

C:\Users\User\AppData\Local\Temp\ipykernel_17892\1335943409.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  netflix = pd.read_csv("csv_files/Netflix.csv", parse_dates=["date_added"])

**2) Знайдіть усі рядки з назвою Limitless:**

In [95]:
limitless_mask = netflix["title"] == "Limitless"

netflix[limitless_mask]

          title         director date_added     type
1559  Limitless      Neil Burger 2019-05-16    Movie
2564  Limitless              NaN 2016-07-01  TV Show
4579  Limitless  Vrinda Samartha 2019-10-01    Movie

**3) Знайдіть всі рядки з режисером Robert Rodriguez та типим Movie:**

In [96]:
is_robert_mask = netflix["director"] == "Robert Rodriguez"
is_movie_mask = netflix["type"] == "Movie"

netflix[is_movie_mask & is_robert_mask]

,title,director,date_added,type
1384,Spy Kids: All the Time in the World,Robert Rodriguez,2019-02-19,Movie
1416,Spy Kids 3: Game Over,Robert Rodriguez,2019-04-01,Movie
1460,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,2019-03-08,Movie
2890,Sin City,Robert Rodriguez,2019-10-01,Movie
3836,Shorts,Robert Rodriguez,2019-07-01,Movie
3883,Spy Kids,Robert Rodriguez,2019-04-01,Movie

**4) Знайти усі рядки з датою початку трансляції на Netflix `2019-07-31` або
режисером `Rober Altman`.**

In [97]:
is_date_mask = netflix["date_added"] == "2019-07-31"
is_altman_mask = netflix["director"] == "Robert Altman"

netflix[is_date_mask | is_altman_mask]

                                title       director date_added     type
611                            Popeye  Robert Altman 2019-11-24    Movie
1028        The Red Sea Diving Resort    Gideon Raff 2019-07-31    Movie
1092                     Gosford Park  Robert Altman 2019-11-01    Movie
3473  Bangkok Love Stories: Innocence            NaN 2019-07-31  TV Show
5117                       Ramen Shop      Eric Khoo 2019-07-31    Movie

**5) Знайдіть усі рядки з рижесером `Orson Welles`, `Aditya Kripalani` та `Sam Raimi` не використовуючи логічний оператор `OR ( | )`:**

In [98]:
list_of_directors = ["Orson Welles", "Aditya Kripalani", "Sam Raimi"]
all_rows_mask = netflix["director"].isin(list_of_directors)

netflix[all_rows_mask]

                           title          director date_added   type
946                 The Stranger      Orson Welles 2018-07-19  Movie
1870                    The Gift         Sam Raimi 2019-11-20  Movie
3706                Spider-Man 3         Sam Raimi 2019-11-01  Movie
4243        Tikli and Laxmi Bomb  Aditya Kripalani 2018-08-01  Movie
4475  The Other Side of the Wind      Orson Welles 2018-11-02  Movie
5115    Tottaa Pataaka Item Maal  Aditya Kripalani 2019-06-25  Movie

**6) Знайдіть усі рядки зі значеннями стовпця `date_added` між 1 травня та 1 липня 2019 не використовуючи логічний оператор `AND ( & )`:**

In [99]:
dates_range_mask = netflix["date_added"].between("2019-05-01", "2019-07-01")

netflix[dates_range_mask]

,title,director,date_added,type
7,7SEEDS,NaN,2019-06-28,TV Show
19,DJ Cinderella,Bruno Garotti,2019-06-14,Movie
29,Chopsticks,Sachin Yardi,2019-05-31,Movie
50,Stree,Amar Kaushik,2019-06-07,Movie
60,Away From Home,NaN,2019-05-08,TV Show
...,...,...,...,...
5738,Cosmos Laundromat: First Cycle,Mathieu Auvray,2019-06-04,Movie
5739,Mission Istaanbul: Darr Ke Aagey Jeet Hai,Apoorva Lakhia,2019-05-16,Movie
5756,Unruly Friends,Sherif Mandour,2019-06-20,Movie
5767,Frozen River,Courtney Hunt,2019-07-01,Movie
5829,The Kindness Diaries,NaN,2019-05-01,TV Show

**7) Видаліть всі рядки `NaN` в стовпці `director`. Виведіть перші 5 рядків після операції видалення пустих значень.**

In [100]:
cleaned_netflix = netflix.dropna(subset=["director"])

cleaned_netflix.head(5)

                                title        director date_added   type
1                      A Patch of Fog  Michael Lennox 2017-04-15  Movie
3                           Uriyadi 2     Vijay Kumar 2019-08-02  Movie
4                   Shrek the Musical     Jason Moore 2013-12-29  Movie
5                    Schubert In Love     Lars Büchel 2018-03-01  Movie
6  We Have Always Lived in the Castle   Stacie Passon 2019-09-14  Movie

**8) Знайдіть всі дні, в які `Netflix` додав в каталог лише одну картину:**

In [ ]:
date_counts = cleaned_netflix['date_added'].value_counts()
list_of_dates = date_counts[date_counts == 1].index
date_mask = cleaned_netflix['date_added'].isin(list_of_dates)

cleaned_netflix[date_mask]

,title,director,date_added,type
4,Shrek the Musical,Jason Moore,2013-12-29,Movie
12,Without Gorky,Cosima Spender,2017-05-31,Movie
30,Anjelah Johnson: Not Fancy,Jay Karas,2015-10-02,Movie
38,One Last Thing,Tim Rouhana,2019-08-25,Movie
66,Mute,Duncan Jones,2018-02-23,Movie
...,...,...,...,...
5776,Planet Earth: The Complete Collection,Alastair Fothergill,2015-04-22,TV Show
5788,Chris Brown: Welcome to My Life,Andrew Sandler,2017-10-07,Movie
5789,A Very Murray Christmas,Sofia Coppola,2015-12-04,Movie
5793,Jerry Before Seinfeld,Michael Bonfiglio,2017-09-19,Movie
5812,Little Singham in London,Prakash Satam,2019-04-22,Movie